<!--FOOTER-->
<footer class="footer bg-dark" style="width: 100%;">
  <div class="container">
    <div class="row align-items-center" id="footer-row">
      <div class="footer col-md-3">
        <h5 class="text-white">Bad Vibes</h5>
        <hr>
        <ul class="p-0">
          <li><a href="/commands" title="Commands" class="text-muted">Commands</a></li>
          <li><a href="/premium" title="Premium" class="text-muted">Premium</a></li>
          <li><a href="/docs" title="Documentation" class="text-muted">Documentation</a></li>
          <li><a href="/docs/faq" title="FAQ" class="text-muted">FAQ</a></li>
        </ul>
      </div>
      <div class="footer col-md-3">
        <h5 class="text-white">Support</h5>
        <hr>
        <ul class="p-0">
          <li><a
              href="https://discord.com/api/oauth2/authorize?client_id=<%= bot.user.id%>&permissions=8&redirect_uri=<%= callback%>&response_type=code&scope=identify%20email%20guilds%20bot%20applications.commands"
              target="_blank" rel="nofollow" title="Add to Server" class="text-muted">Invite Bad Vibes</a></li>
          <li><a href="https://discord.gg/wrTHfMqzaQ" target="_blank" rel="nofollow" title="Support Server"
              class="text-muted">Support Server</a></li>
        </ul>
      </div>
      <div class="footer col-md-3" id="legal">
        <h5 class="text-white">Legal</h5>
        <hr>
        <ul class="p-0">
          <li><a href=" /terms" title="Disclaimer" class="text-muted">Disclaimer</a></li>
          <li><a href="/terms" title="Terms of Service" class="text-muted">Terms of Service</a></li>
          <li><a href="/terms" title="Privacy Policy" class="text-muted">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="footer col-md">
        <h5 class="text-white">Bad Vibes Bot</h5>
        <hr>
        <p class="text-muted">The perfect discord bot to play music with high quality and easy moderation setup music in dashboard!<br><br>
          <a href="mailto:kaisa081099@gmail.com" class="mailto" target="_blank" rel="nofollow"><i
              class="fas fa-envelope-open-text"></i> Dev@badvibes.com</a> <br>
          <i class="far fa-copyright"></i> Bad Vibes Bot 2022 - All rights reserved. <br>
          <i class="fas fa-edit"></i> Web Designed by <a href="https://www.facebook.com/adamkhai0/" target="_blank"
            rel="nofollow">Adam Khairusydan</a>
        </p>
      </div>
    </div>
  </div>
</footer>
